:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 100%;
    // height: 1500px;
    background-color: #f5f5f5;

    .header {
        width: 100%;
        height: 100px;
        background-color: #fff;
        margin: auto;
        display: flex;
        justify-content: center;
        padding-top: 20px;

        .logo {
            width: 100px;
            height: 50px;
            // border: 1px solid red;
            margin-top: 10px;
            background-image: url(../img/home_03.png);
            background-repeat: no-repeat;
            background-size: contain;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .nav {
            width: 50%;
            display: flex;
            justify-content: center;

            .item {
                a {
                    // 转化a标签为block元素,用于鼠标移动上去的样式改变
                    width: 70px;
                    height: 50px;
                    // background-color: aqua;
                    display: block;
                    margin-left: 10px;
                    text-align: center;

                    &:hover {
                        border-bottom: 3px solid red;
                    }
                }

                &:nth-of-type(2) {
                    // 父相子绝
                    position: relative;
                }

                &:nth-of-type(2):hover .secondDetail {
                    display: block;
                }


                // 二级菜单展示界面
                .secondDetail {
                    width: 1200px;
                    height: 300px;
                    // 父相子绝
                    position: absolute;
                    left: -250px;
                    top: 60px;
                    display: none;
                    z-index: 5;

                    .box {
                        width: 1200px;
                        height: 300px;
                        display: flex;
                        background-color: #ffffff;
                        justify-content: space-around;

                        .secondDetailBox {
                            flex-basis: 20%;
                            height: 100%;

                            .secondDetailBoxImage {
                                width: 200px;
                                height: 90%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                margin-left: 20px;
                            }

                            .secondDetailBoxInfo {
                                height: 30px;
                                line-height: 30px;
                                margin-left: 20px;
                            }

                            &:nth-of-type(1) .secondDetailBoxImage {
                                background-image: url(../img/secondDetail1.png);
                            }

                            &:nth-of-type(2) .secondDetailBoxImage {
                                background-image: url(../img/secondDetail2.png);
                            }

                            &:nth-of-type(3) .secondDetailBoxImage {
                                background-image: url(../img/secondDetail3.png);
                            }

                            &:nth-of-type(4) .secondDetailBoxImage {
                                background-image: url(../img/secondDetail4.png);
                            }

                            &:nth-of-type(5) .secondDetailBoxImage {
                                background-image: url(../img/secondDetail5.png);
                            }
                        }
                    }
                }
            }
        }

        .nav,
        .right {
            margin-top: 20px;
        }

        .right {
            height: 50px;
            // border: 1px solid red;
            display: flex;

            .loginAndRegister {
                width: 150px;

                // height: 100%;
                a {
                    width: 40%;
                    // line-height: 50px;
                    // height: 100%;
                    display: inline-block;
                    text-align: center;
                    margin-bottom: 7px;
                }
            }

            .search {
                margin-left: 20px;
            }

            .search input {
                border: none;
                outline-style: none;
                border-bottom: 1px solid gray;
                // 如果这个搜索按钮有点击效果,则不建议做成背景图,暂时使用margin-left往左拉实现
                // background-image: url(../img/home_search_09.png);
                // background-repeat: no-repeat;
                // background-position: right;
                // background-size: contain;
            }

            .icon {
                margin-left: -25px;

                img {
                    margin: 0 5px;
                }

            }
        }
    }

    .main {
        width: 100%;
        // height: 2000px;
        // border: 1px solid red;
        overflow: hidden;
        // 父相子绝定位右侧icon图标
        position: relative;
        margin: auto;

        .right-list {
            width: 50px;
            height: 150px;
            background-color: #f5f5f5;
            position: fixed;
            top: 500px;
            right: 40px;
        }

        .right-list div {
            width: 16px;
            height: 16px;
            position: absolute;
            right: -6px;
            top: -6px;
        }

        .crumbsNav {
            width: 100%;
            height: 50px;
            // border: 1px solid red;
            // margin: auto;
            background-color: #fff;

            .box {
                width: 1000px;
                height: 50px;
                // border: 1px solid green;
                margin: auto;
                color: #000;
                line-height: 50px;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }
        }

        .banner {
            // 轮播图效果
            width: 300%;
            height: 500px;
            display: flex;
            animation: bannerMove 15s linear 0s infinite;
            z-index: 1;

            [class *=banner_child] {
                width: 100%;
                height: 100%;
            }

            .banner_child1 {
                background-image: url(../img/banner1.png);
                background-size: cover;
                background-repeat: no-repeat;

            }

            .banner_child2 {
                background-image: url(../img/banner4.png);
                background-size: cover;
                background-repeat: no-repeat;
            }

            .banner_child3 {
                background-image: url(../img/banner1.png);
                background-size: cover;
                background-repeat: no-repeat;
            }

            // 右侧3个小图标
            .right {
                width: 40px;
                height: 150px;
                // border: 1px solid red;
                // 子绝定位图标位置
                position: absolute;
                right: 20px;
                top: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .box {
                    width: 100%;
                    height: 50px;
                    // border: 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        width: 40px;
                        height: 40px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-color: rgba(255, 255, 255, 0.3);
                        // background-size: 100% 100%;
                        position: fixed;
                        // opacity: 0.5;
                    }

                    &:nth-child(1) .icon {
                        background-image: url(../img/banner-right-icon1.png);
                    }

                    &:nth-child(2) .icon {
                        background-image: url(../img/banner-right-icon2.png);
                    }

                    &:nth-child(3) .icon {
                        background-image: url(../img/home_search_avtar.png);
                    }
                }

            }
        }


        // 用于嵌套其他界面
        .iframe {
            width: 100vw;
            height: 854px;
            margin: auto;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        // .bannerLogo{
        //     width: 100px;
        //     height: 50px;
        //     // background-image: url(../img/banner_logo.png);
        // }

        @keyframes bannerMove {
            0% {
                margin-left: 0%;
            }

            33% {
                margin-left: 0%;
            }

            38% {
                margin-left: -100%;
            }

            66% {
                margin-left: -100%;
            }

            69% {
                margin-left: -200%;
            }

            100% {
                margin-left: -200%;
            }
        }

        .shopShow {
            width: 1200px;
            // height: 1000px;
            // border: 1px solid red;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            // flex-direction: column;

            .upShow {
                width: 500px;
                height: 300px;
                background-image: url(../img/home_20_up.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin: auto;
                margin-top: -30px;
            }

            .mainShow {
                width: 100%;
                // height: 100%;
                // display: none;
                // border: 1px solid red;
                // background-image: url(../img/home_26_mainShow.png);
                // background-repeat: no-repeat;
                // background-size: cover;

                .box {
                    width: 100%;
                    // border: 1px solid red;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    .item {
                        flex-basis: 25%;
                        height: 400px;
                        padding-left: 20px;
                        // border: 1px solid green;

                        .image {
                            width: 100%;
                            height: 75%;
                            background-image: url(../img/home_07_mainShow.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            transition: all 1s;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }

                        .info {
                            width: 100%;
                            height: 25%;
                            text-align: center;
                            padding-top: 20px;

                            .price {
                                color: red;
                                font-weight: bold;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        // height: 200px;
        // border: 1px solid red;

        border-top: 5px solid #f7f7f7;

        .box {
            margin: auto;
            width: 1000px;
            display: flex;
        }

        .item {
            width: 25%;
            height: 200px;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            // border-right: 5px solid #f7f7f7;
            // border-radius: 50px;

            .icon {
                width: 50%;
                height: 50%;
                background-repeat: no-repeat;
                background-size: 100px 100px;
            }

            &:nth-child(1) .icon {
                background-image: url(../img/footer1.png);
            }

            &:nth-child(2) .icon {
                background-image: url(../img/footer2.png);
            }

            &:nth-child(3) .icon {
                background-image: url(../img/footer3.png);
            }

            &:nth-child(4) .icon {
                background-image: url(../img/footer4.png);
            }
        }

        .container-4 {
            width: 100%;
            background-color: white;
            height: 80px;
        }

        .service {
            width: 1160px;
            /* height: 80px;
            background-color: white;
            position: absolute;
            bottom: 0px;
            left: 0px; */
            margin: auto;
            overflow: hidden;
        }

        .content {
            width: 1000px;
            height: 60px;
            margin: auto;
            margin-top: 10px;
            background-color: white;
            line-height: 60px;
            text-align: center;
        }

        .content div {
            box-sizing: border-box;
            float: left;
            width: 25%;
            height: 60px;
            background-color: white;
            line-height: 60px;
            border-right: 1px solid #ccc;
        }

        .content div:last-child {
            border-right: 0;
        }

        .content div img {
            vertical-align: middle;
        }
    }

    .copyRight {
        width: 100%;
        height: 100px;
        color: #fff;
        background-color: #000;
        text-align: center;
        padding-top: 25px;
    }
}