:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: #f5f5f5;
}

.container .header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container .header .logo {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  background-image: url(../img/home_03.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.container .header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.container .header .nav {
  width: 50%;
  display: flex;
  justify-content: center;
}

.container .header .nav .item a {
  width: 70px;
  height: 50px;
  display: block;
  margin-left: 10px;
  text-align: center;
}

.container .header .nav .item a:hover {
  border-bottom: 3px solid red;
}

.container .header .nav .item:nth-of-type(2) {
  position: relative;
}

.container .header .nav .item:nth-of-type(2):hover .secondDetail {
  display: block;
}

.container .header .nav .item .secondDetail {
  width: 1200px;
  height: 300px;
  position: absolute;
  left: -250px;
  top: 60px;
  display: none;
  z-index: 5;
}

.container .header .nav .item .secondDetail .box {
  width: 1200px;
  height: 300px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
}

.container .header .nav .item .secondDetail .box .secondDetailBox {
  flex-basis: 20%;
  height: 100%;
}

.container .header .nav .item .secondDetail .box .secondDetailBox .secondDetailBoxImage {
  width: 200px;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}

.container .header .nav .item .secondDetail .box .secondDetailBox .secondDetailBoxInfo {
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

.container .header .nav .item .secondDetail .box .secondDetailBox:nth-of-type(1) .secondDetailBoxImage {
  background-image: url(../img/secondDetail1.png);
}

.container .header .nav .item .secondDetail .box .secondDetailBox:nth-of-type(2) .secondDetailBoxImage {
  background-image: url(../img/secondDetail2.png);
}

.container .header .nav .item .secondDetail .box .secondDetailBox:nth-of-type(3) .secondDetailBoxImage {
  background-image: url(../img/secondDetail3.png);
}

.container .header .nav .item .secondDetail .box .secondDetailBox:nth-of-type(4) .secondDetailBoxImage {
  background-image: url(../img/secondDetail4.png);
}

.container .header .nav .item .secondDetail .box .secondDetailBox:nth-of-type(5) .secondDetailBoxImage {
  background-image: url(../img/secondDetail5.png);
}

.container .header .nav,
.container .header .right {
  margin-top: 20px;
}

.container .header .right {
  height: 50px;
  display: flex;
}

.container .header .right .loginAndRegister {
  width: 150px;
}

.container .header .right .loginAndRegister a {
  width: 40%;
  display: inline-block;
  text-align: center;
  margin-bottom: 7px;
}

.container .header .right .search {
  margin-left: 20px;
}

.container .header .right .search input {
  border: none;
  outline-style: none;
  border-bottom: 1px solid gray;
}

.container .header .right .icon {
  margin-left: -25px;
}

.container .header .right .icon img {
  margin: 0 5px;
}

.container .main {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.container .main .right-list {
  width: 50px;
  height: 150px;
  background-color: #f5f5f5;
  position: fixed;
  top: 500px;
  right: 40px;
}

.container .main .right-list div {
  width: 16px;
  height: 16px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.container .main .crumbsNav {
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.container .main .crumbsNav .box {
  width: 1000px;
  height: 50px;
  margin: auto;
  color: #000;
  line-height: 50px;
}

.container .main .crumbsNav .box a {
  color: #000;
  text-decoration: none;
}

.container .main .banner {
  width: 300%;
  height: 500px;
  display: flex;
  animation: bannerMove 15s linear 0s infinite;
  z-index: 1;
}

.container .main .banner [class*=banner_child] {
  width: 100%;
  height: 100%;
}

.container .main .banner .banner_child1 {
  background-image: url(../img/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .banner .banner_child2 {
  background-image: url(../img/banner4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .banner .banner_child3 {
  background-image: url(../img/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container .main .banner .right {
  width: 40px;
  height: 150px;
  position: absolute;
  right: 20px;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .main .banner .right .box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main .banner .right .box .icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
}

.container .main .banner .right .box:nth-child(1) .icon {
  background-image: url(../img/banner-right-icon1.png);
}

.container .main .banner .right .box:nth-child(2) .icon {
  background-image: url(../img/banner-right-icon2.png);
}

.container .main .banner .right .box:nth-child(3) .icon {
  background-image: url(../img/home_search_avtar.png);
}

.container .main .iframe {
  width: 100vw;
  height: 854px;
  margin: auto;
}

.container .main .iframe iframe {
  width: 100%;
  height: 100%;
}

@keyframes bannerMove {
  0% {
    margin-left: 0%;
  }
  33% {
    margin-left: 0%;
  }
  38% {
    margin-left: -100%;
  }
  66% {
    margin-left: -100%;
  }
  69% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}

.container .main .shopShow {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.container .main .shopShow .upShow {
  width: 500px;
  height: 300px;
  background-image: url(../img/home_20_up.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: -30px;
}

.container .main .shopShow .mainShow {
  width: 100%;
}

.container .main .shopShow .mainShow .box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container .main .shopShow .mainShow .box .item {
  flex-basis: 25%;
  height: 400px;
  padding-left: 20px;
}

.container .main .shopShow .mainShow .box .item .image {
  width: 100%;
  height: 75%;
  background-image: url(../img/home_07_mainShow.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.container .main .shopShow .mainShow .box .item .image:hover {
  transform: scale(1.05);
}

.container .main .shopShow .mainShow .box .item .info {
  width: 100%;
  height: 25%;
  text-align: center;
  padding-top: 20px;
}

.container .main .shopShow .mainShow .box .item .info .price {
  color: red;
  font-weight: bold;
  text-align: center;
}

.container .footer {
  width: 100%;
  border-top: 5px solid #f7f7f7;
}

.container .footer .box {
  margin: auto;
  width: 1000px;
  display: flex;
}

.container .footer .item {
  width: 25%;
  height: 200px;
  display: flex;
  align-items: center;
}

.container .footer .item .icon {
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100px 100px;
}

.container .footer .item:nth-child(1) .icon {
  background-image: url(../img/footer1.png);
}

.container .footer .item:nth-child(2) .icon {
  background-image: url(../img/footer2.png);
}

.container .footer .item:nth-child(3) .icon {
  background-image: url(../img/footer3.png);
}

.container .footer .item:nth-child(4) .icon {
  background-image: url(../img/footer4.png);
}

.container .footer .container-4 {
  width: 100%;
  background-color: white;
  height: 80px;
}

.container .footer .service {
  width: 1160px;
  /* height: 80px;
            background-color: white;
            position: absolute;
            bottom: 0px;
            left: 0px; */
  margin: auto;
  overflow: hidden;
}

.container .footer .content {
  width: 1000px;
  height: 60px;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  line-height: 60px;
  text-align: center;
}

.container .footer .content div {
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 60px;
  background-color: white;
  line-height: 60px;
  border-right: 1px solid #ccc;
}

.container .footer .content div:last-child {
  border-right: 0;
}

.container .footer .content div img {
  vertical-align: middle;
}

.container .copyRight {
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding-top: 25px;
}
