* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(128, 128, 128, 0.301);
}

header .container-fluit {
  height: 80px;
  background-color: white;
  border-radius: 0 0 5px 1px;
  box-shadow: 0 1px 10px 1px gray;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

header .dropdown button {
  border: 1px solid white;
}

.nav ul {
  margin-top: 10px;
  text-align: center;
}

.nav a {
  color: black;
  padding-left: 10px;
  width: 100%;
  display: block;
  border-left: 1px solid gray;
}

main {
  margin: 15px 0 0;
}

main aside {
  width: 95%;
  height: 100vh;
  border: 1px solid rgba(128, 128, 128, 0);
  box-shadow: 0 0 10px 1px gray;
  background-color: white;
  border-radius: 0 10px 0 0;
}

main aside li {
  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .content {
  width: 100%;
  height: 100vh;
  border-radius: 10px 0 0 0;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
}

main .content .text-center {
  width: 95%;
  font-size: 16px;
  height: 60px;
  text-align: left;
  margin: 0 auto;
  line-height: 60px;
}

main .content .box {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  border-top: 5px solid rgba(255, 0, 0, 0.582);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray;
  display: flex;
}

main .content .box .box1 {
  width: 50%;
  padding: 0 5%;
  margin: 30px 0;
  border-right: 1px solid rgba(128, 128, 128, 0.315);
}

main .content .box .box2 {
  width: 50%;
  padding: 0 3%;
  margin: 30px 0;
  border-right: 1px solid rgba(128, 128, 128, 0.315);
}

main .content .box .box2 .tu1 {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.431);
  margin-right: 30px;
}
