.search-pic{
    width: 20px;
    height: 20px;
}


.body{

}

.foot{
   margin-top: 270px;
}



#googlePic{
    margin-top: 150px;
}


.google-btn{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.head-right{
    margin-left: 90%;
}

.head-right-pic{
    margin-left: 90%;
}

























