body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 360px;
    background-image: url(../img/ico_banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #004ce6;
    overflow: hidden;
}

.header .container {
    width: 1100px;
    height: 50px;
    /* border: 1px solid #fff; */
    margin: 0 auto;
    margin-top: 20px;
}

.header .container .logo {
    width: 200px;
    height: 50px;
    /* border: 1px solid red; */
}

.header .container .logo img {
    margin-top: 5px;
}

.header .container div {
    display: inline-block;
}

.header .container .nav {
    height: 50px;
    color: #fff;
    float: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    float: left;
    height: 50px;
    line-height: 50px;
    /* margin: 0 5px 0 5px; */
}

.nav ul li a{
   color: white;
   text-decoration: none;
   padding: 0 20px;
}

.nav ul .last a{
    border-left: 3px solid #ccc;
 }

 .wrapper{
     height: 100%;
     height: 32px;
     background-color: #fff;
     margin-top: -32px;
     /* 透明度 */
     opacity: 0.7;
 }

 .wrapper a{
      text-decoration: none;
      color: #ccc;
      font-size: 14px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 32px;
 }






































