* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 30px;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

main {
    width: 1550px;
    height: 800px;
    /* border: 1px solid red; */
    margin: auto;
}

header {
    width: 100%;
    /* height: 200px; */
    background-color: #fff;
    /* border-bottom: 1px solid #3c3c3c; */
    overflow: hidden;
}

header .detail {
    margin-top: 30px;
}

header .logo {
    width: 200px;
    background-size: 10%;
    /* margin-left: 30px; */
    /* vertical-align:bottom; */
    float: left;
}

header input {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    padding-left: 5px;
    background-color: #f8f8f8;
    border: none;
    outline-style: none;
}

header a{
    margin-left: 20px;
}

header nav ul li {
    width: 100px;
    height: 30px;
    /* background-color: #000; */
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: #3c3c3c;
    float: left;
}

header nav ul li:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

article {
    width: 100%;
    overflow: hidden;
}

article .image {
    width: 300px;
    height: 400px;
    /* margin-left: 30px; */
    float: left;
}

article .detail {
    width: 800px;
    height: 400px;
    margin-left: 100px;
    float: left;
}

article .button {
    margin-top: 150px;
    border: none;
}

article .button .allPlay {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.allPlay:hover~.play{
    display: block;
}

article .button .collection, .share {
    width: 80px;
    height: 35px;
    border-radius: 10px;
    background-color: #f8f8f8;
    color: #000;
    margin-left: 20px;
    border: none;
}

article .play {
    margin-top: 50px;
    /* display: none; */
}

section {
    width: 100%;
    height: 500px;
}

section .table {
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    margin: auto;
}

.table table {
    /* border: 1px solid #3c3c3c; */
    overflow: hidden;
}

.table tr td {
    width: 300px;
    height: 50px;
    padding-left: 20px;
}

.table tr:nth-child(odd) {
    background: #f7f7f7;
}