:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.container .box {
  width: 500%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  animation: move 20s linear infinite;
}

.container .box [class*=banner] {
  width: 100%;
  height: 100%;
}

.container .box img {
  width: 100%;
}

.container .box .banner1 {
  background-color: aqua;
}

.container .box .banner2 {
  background-color: red;
}

.container .box .banner3 {
  background-color: #12e952;
}

.container .box .banner4 {
  background-color: #4a3dff;
}

.container .box .banner5 {
  background-color: #f0aa12;
}

.container .circle {
  width: 50px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  display: flex;
  animation: circle 20s inline infinite;
}

.container .circle .point {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: azure;
  animation-direction: normal;
}

.container .circle .point:nth-of-type(1) {
  background-color: #000;
  animation: circle 20s linear 0s infinite;
}

.container .circle .point:nth-of-type(2) {
  animation: circle 20s linear 4s infinite;
}

.container .circle .point:nth-of-type(3) {
  animation: circle 20s linear 8s infinite;
}

.container .circle .point:nth-of-type(4) {
  animation: circle 20s linear 12s infinite;
}

.container .circle .point:nth-of-type(5) {
  animation: circle 20s linear 16s infinite;
}

@keyframes move {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  45% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  65% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  85% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

@keyframes circle {
  0% {
    background-color: #000;
  }
  1% {
    background-color: #000;
  }
  20% {
    background-color: #000;
  }
  21% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}
