* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4fc;
}

a {
    text-decoration: none;
    color: #0075e5;
}

/* 头部信息开始 */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    padding: 0 20px;
}

header .right {
    width: 150px;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

header .right img {
    /* width: 100px; */
    height: 50px;
}

header .right .info p:nth-of-type(2) {
    color: gray;
    font-size: 10px;
}


/* main区域开始 */
main {
    width: 100%;
    margin-top: 20px;
    /* height: 500px; */
    /* border: 1px solid red; */
    display: flex;
    overflow: hidden;
}

/* aside导航栏开始 */
main aside {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    /* border: 1px solid green; */
    background-color: #fff;
    /* padding-left: 20px; */
}

main aside nav .hide img:active aside{
    display: none;
}

main aside nav div {
    width: 100%;
    height: 50px;
    /* background-color: aquamarine; */
    /* border: 1px solid red; */
    text-align: left;
    line-height: 50px;
}

main aside nav div.hide img{
    height: 20px;
    margin-left: 90%;
}

main aside nav div:hover {
    background-color: #0474e0;
}

main aside nav div>i {
    margin-left: 10px;
}

main aside nav div i:nth-of-type(2) {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}


/* 右侧article正文开始 */
main article {
    height: 700px;
    margin-left: 30px;
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
    /* border: 1px solid blue; */
    overflow-y: scroll;

}

/* 右上输入用户部分开始 */

article .search {
    background-color: #f4f7fa;
}

.search form div {
    margin: 20px 20px;
}

.search form .name, .area {
    display: flex;
    justify-content: space-between;
}

.search form .name span, .area span {
    margin: 10px 30px;
}

.search form input[type=text], select {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    margin-left: 10px;
}

/* 所有的Button效果控制 */

button, article .search form [type=submit] {
    width: 100px;
    height: 40px;
    background-color: #0075e5;
    border-radius: 5px;
    border: none;
    color: #f4f4fc;
    margin-left: 20px;
}

.search form .fuctionBtn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

/* table数据展示开始 */

.tableShow {
    /* border: 1px solid red; */
    background-color: #fff;
}

.tableShow .functionBtn {
    padding: 20px 0;
}

.tableDetail table {
    width: 100%;
    /* border-collapse: separate;
    border-spacing: 1em 0; */
}

.tableDetail table thead {
    background-color: #f4f4fc;
}

.tableDetail table tr {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    /* padding: 0 20px; */
}

.tableDetail table tr td {
    width: 200px;
    /* border: 1px solid red; */
    margin-left: 20px;
}