:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    height: 800px;
    border: 1px solid red;

    .header {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main{
        .aside{
            .nav{
                ul{
                    list-style: none;
                    display: block;
                    
                }
                
            }
        }
    }
}