body {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.black .containerov {
  width: 416px;
  height: 480px;
  border: 1px solid red;
}

.black .containerov .name1 {
  width: 390px;
  height: 40px;
  margin: 5px;
}

.black .containerov .name1 input {
  width: 360px;
  height: 40px;
  border: 1px solid #d3d3d3;
}

.black .containerov .photo1 {
  width: 390px;
  height: 40px;
  margin: 5px;
}

.black .containerov .photo1 input {
  width: 360px;
  height: 40px;
  border: 1px solid #d3d3d3;
}

.black .containerov .ipt1 {
  width: 390px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.black .containerov .ipt1 .box {
  width: 190px;
  height: 45px;
  color: #337ac3;
}

.black .containerov .ipt1 .box select {
  width: 164px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: none;
}

.black .containerov .bai1 {
  width: 390px;
  height: 40px;
  margin: 10px;
}

.black .containerov .bai1 input {
  width: 360px;
  height: 40px;
  border: 1px solid #d3d3d3;
}

.black .containerov .ma1 {
  width: 390px;
  height: 40px;
  margin: 10px;
}

.black .containerov .ma1 input {
  width: 360px;
  height: 40px;
  border: 1px solid #d3d3d3;
}

.black .containerov .btn1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.black .containerov .btn1 .bao1 {
  width: 144px;
  height: 48px;
  color: white;
}

.black .containerov .btn1 .bao1 button {
  width: 144px;
  height: 48px;
  background-color: #da0000;
  border-style: none;
  border-radius: 10px;
}

.black .containerov .btn1 .qu1 {
  width: 144px;
  height: 48px;
}

.black .containerov .btn1 .qu1 button {
  width: 144px;
  height: 48px;
  border-radius: 10px;
  border-style: none;
}
