:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 731px;
  height: 800px;
  margin: auto;
}

.container .header h2 {
  text-align: center;
  line-height: 50px;
  color: orangered;
}

.container .main .row1 img,
.row3 img {
  width: 100px;
}

.container .main .row2 {
  display: flex;
  height: 500px;
}

.container .main .row2 .center {
  width: 600px;
}

.container .main .row2 .colImgLeft,
.colImgRight {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.footer .choose {
  display: flex;
  width: 731px;
  margin-top: 50px;
}

.footer .choose .box .btnBox button {
  width: 30px;
  height: 20px;
}

.footer .choose .startBtn {
  width: 50px;
  height: 30px;
  background-color: #fdf600;
}
